.CountriesList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.CountryItem {
  margin: 0 -10px;
  padding: 5px 10px;
  cursor: pointer;

}
.CountryItem:hover {
  background-color: #eee;
}
.CountryItem.active {
  background-color: #ddd;
}