.RestCountries {
  display: flex;
  padding: 15px;
  height: 100vh;
  min-width: 640px;
}
.RestCountries > div {
  border: 2px solid #777;
  overflow-y: scroll;
  background-color: #fefee0;
}
.RestCountries > div:first-child {
  margin-right: 10px;
}

.RestCountries .CountriesListBlock {
  flex-basis: 20%;
  min-width: 200px;
  padding: 10px;
}

.RestCountries .CountriesInfoBlock {
  flex-grow: 1;
  padding: 15px;
}